@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: var(--font-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman",
    Times, serif;
  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco;

  --blur-xs: 2px;

  --animate-enter: animate-scale 0.75s ease-in-out both, animate-blur 0.75s
    ease-in-out both, animate-opacity 0.75s ease-in-out both;
  --animate-up: animate-up 0.75s ease-in-out both;
  --animate-blur: animate-blur 0.75s ease-in-out both, animate-opacity 0.75s
    ease-in-out both;
  --animate-fade: animate-opacity 0.25s ease-in-out both;
  --animate-fade-blur: animate-blur 0.25s ease-in-out both, animate-opacity
    0.25s ease-in-out both;
  --animate-text: animate-opacity 0.75s ease-in-out both, animate-blur 0.75s
    ease-in-out both, animate-up 0.75s ease-in-out both;

  @keyframes animate-blur {
    0% {
      filter: blur(10px);
    }
    100% {
      filter: blur(0px);
    }
  }
  @keyframes animate-up {
    0% {
      transform: translateY(8px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes animate-scale {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes animate-opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-main: var(--main);
  --color-accent: var(--accent);
  --color-tertiary: var(--tertiary);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  :root,
  .light {
    --main: var(--color-neutral-100);
    --accent: var(--color-neutral-300);
    --primary: var(--color-neutral-900);
    --secondary: var(--color-neutral-950);
    --tertiary: var(--color-neutral-500);
  }

  .dark {
    --main: var(--color-neutral-900);
    --accent: var(--color-neutral-950);
    --primary: var(--color-neutral-100);
    --secondary: var(--color-neutral-300);

    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    @media (prefers-color-scheme: dark) {
      code[data-theme*=" "],
      code[data-theme*=" "] span {
        color: var(--shiki-dark);
        background-color: var(--shiki-dark-bg);
      }
    }
  }
}
