:root {
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

[data-tinylight-overlay] {
  --overlay-bg: rgba(0, 0, 0, 0.25);
  --overlay-blur: 5px;

  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(var(--overlay-blur));
    background-color: var(--overlay-bg);
    z-index: 0;
  }
}

[data-tinylight-title],
[data-tinylight-description] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-tinylight-content] {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 100%;
  position: relative;
  z-index: 1000;
}

[data-tinylight-items] {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  flex: 1;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;

  @media screen and (max-width: 768px) {
    gap: 1rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-tinylight-item] {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  scroll-snap-align: start;
  height: 100%;
  max-height: 80vh;
  padding: 0 20px;
  justify-content: center;

  & > * {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  &:where([data-tinylight-active-item="true"]) {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

[data-tinylight-thumbs] {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  flex: 1;
  gap: 0.75rem;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  max-width: 50%;
  position: relative;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scrollbar-width: none;

  @media screen and (max-width: 768px) {
    max-width: 90%;
  }
}

[data-tinylight-trigger] {
  height: auto;
  padding: 0;

  & > * {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
}

[data-tinylight-thumb] {
  height: auto;
  flex: 0 0 100px;
  aspect-ratio: 16 / 9;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  outline-color: transparent;
  will-change: transform box-shadow opacity;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, opacity
    0.2s ease-in-out;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  &:where([data-tinylight-active-thumb="true"]) {
    outline: 1px solid white;
    outline-offset: 2px;
    transform: scale(1.05);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  &:hover {
    opacity: 0.8;
  }

  & > * {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

[data-tinylight-close-button] {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

[data-tinylight-close-button],
[data-tinylight-nav-button] {
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  will-change: opacity;
  transition: opacity 0.2s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes tinylight-content-show {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
  }

  @keyframes tinylight-content-hide {
    from {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
    to {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }
  }

  [data-tinylight-overlay] {
    &:where([data-state="closed"]) {
      animation: fade 400ms var(--ease-in-out-quad) reverse;
    }

    &:where([data-state="open"])::after {
      animation: fade 400ms var(--ease-in-out-quad) forwards;
    }

    &:where([data-state="closed"])::after {
      animation: fade 400ms var(--ease-in-out-quad) reverse;
    }
  }

  [data-tinylight-content] {
    &:where([data-state="open"]) {
      animation: tinylight-content-show 400ms var(--ease-in-out-quad);
    }
    &:where([data-state="closed"]) {
      animation: tinylight-content-hide 400ms var(--ease-in-out-quad);
    }
  }
}
