:root {
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  :focus-visible {
    transition: none;
    outline: 1px solid rgba(255, 255, 255, 1);
    outline-offset: 2px;
  }
}

[data-tinylight-overlay] {
  --overlay-bg: rgba(0, 0, 0, 0.3);
  --overlay-blur: 4px;

  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(var(--overlay-blur));
    background-color: var(--overlay-bg);
    background-image: linear-gradient(
      0deg,
      var(--overlay-bg) 0,
      transparent 175px
    );
    z-index: 0;
  }

  &:where([data-state="closed"]) {
    animation: fade 400ms var(--ease-in-out-quad) reverse;
  }

  &:where([data-state="open"])::after {
    animation: fade 400ms var(--ease-in-out-quad) forwards;
  }

  &:where([data-state="closed"])::after {
    animation: fade 400ms var(--ease-in-out-quad) reverse;
  }
}

[data-tinylight-title],
[data-tinylight-description] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

[data-tinylight-content] {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 0 0 100%;
  position: relative;
  z-index: 1000;
  max-width: 100vw;

  &:where([data-state="open"]) {
    animation: tinylight-content-show 400ms var(--ease-in-out-quad);
  }
  &:where([data-state="closed"]) {
    animation: tinylight-content-hide 400ms var(--ease-in-out-quad);
  }
}

[data-tinylight-items] {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  scroll-behavior: smooth;

  @media screen and (max-width: 768px) {
    gap: 1rem;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

[data-tinylight-item] {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  scroll-snap-align: start;
  height: 100%;
  max-height: fit-content;
  padding: 0 20px;
  justify-content: center;

  & > * {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  & > [data-tinylight-video] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:where([data-tinylight-active-item="true"]) {
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

[data-tinylight-controls] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 120px;
}

[data-tinylight-thumbs] {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  flex: 1;
  gap: 1rem;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  position: relative;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

[data-tinylight-trigger] {
  height: auto;
  padding: 0;
}

[data-tinylight-thumb] {
  height: auto;
  flex: 0 0 100px;
  aspect-ratio: 16 / 9;
  padding: 0;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  will-change: transform box-shadow opacity;
  transition: 500ms var(--ease-in-out-quad);
  transition-property: flex, box-shadow, opacity;
  transform-origin: bottom left;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  animation: tinylight-thumb-show 750ms var(--ease-in-out-quad) forwards;
  animation-delay: var(--stagger);
  opacity: 0;

  &:where([data-tinylight-active-thumb="true"]) {
    flex: 0 0 120px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  & > * {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

[data-tinylight-close-button] {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;
}

[data-tinylight-close-button],
[data-tinylight-nav-button] {
  color: #fff;
  cursor: pointer;
  padding: 12px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  will-change: opacity, color;
  transition: 0.2s var(--ease-in-out-quad);
  transition-property: background-color, opacity;
  border: 1px solid rgba(255, 255, 255, 0.2);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
  }
}

[data-tinylight-nav-button] {
  margin: 0 8px;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes tinylight-content-show {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
  }

  @keyframes tinylight-content-hide {
    from {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
    to {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(10px);
    }
  }

  @keyframes tinylight-thumb-show {
    from {
      opacity: 0;
      filter: blur(10px);
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      filter: blur(0px);
      transform: translateY(0);
    }
  }
}
