[data-tinylight-player] {
  position: relative;
  width: 100%;

  [data-tinylight-controls] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    mask-image: linear-gradient(
      to top,
      transparent,
      rgb(0, 0, 0) 25%,
      rgb(0, 0, 0) 75%,
      transparent
    );
    backdrop-filter: blur(6px);

    [data-tinylight-duration] {
      background-color: red;
      height: 2px;
      flex: 1;
      display: block;

      [data-tinylight-duration-track] {
        height: 100%;
        width: 100%;
        display: block;
        transform-origin: left;
        background-color: blue;
        transition: transform 200ms ease-in-out;
      }
    }

    [data-tinylight-mute] {
      flex-shrink: 0;
    }
  }
}
